# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Ignore env files
.env
.env.*

# Node
node_modules/

# Python
__pycache__/
*.pyc

# OS junk
.DS_Store

# Build outputs
.next/
dist/
build/

# Logs
*.log
